.UnitTests {
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.UnitTests .header {
  display: grid;
  grid-template-columns: max-content auto;
}

.UnitTests .header .item {
  padding: 0.5rem;
  font-weight: bold;
}

.UnitTests .header .value {
  padding: 0.5rem;
}

.UnitTests .content {
  padding: 0.5em;
}

.UnitTests .content .title {
  font-weight: bold;
}

.UnitTests .directory {
  margin: 1em;
}

.UnitTests .directory > .name {
  margin-bottom: 0.5em;
}

.UnitTests .files {
  margin-left: 0.5em;
  padding-left: 0.5em;
  border-left: 2px gray solid;
}

.UnitTests .files > a {
  text-decoration: none;
}
