.Logs {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

.Logs a {
  display: flex;
  justify-content: space-between;
  color: black;
  text-decoration: none;
  padding: 0.58rem;
  margin: 0.25rem;
  border: 2px solid;
}

.Logs a > p {
  display: inline-block;
}

.Logs .previous a {
	display: inline-block;
	border: none;
	text-decoration: underline;
	font-size: .75rem;
}

.Logs pre {
  overflow: auto;
	max-width: calc(100vw - 2rem);
}
