.Home {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

.Home h1 {
  color: #555;
}

.Home > div {
  padding: 1rem;
  cursor: pointer;
}

.Home div.home-grid {
  display: grid;
  grid-template-columns: auto auto;
}

.Home div.home-item {
  padding: 0.5rem;
  font-weight: bold;
}

.Home > div:hover {
  background-color: rgba(200, 200, 200, 0.5);
}

.Home ul {
  list-style: none;
}

.Home li {
  padding: .25rem;
}

.Home li::before {
  content: "- ";
}