.Home {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

.Home h1 {
  color: #555;
}

.Home div {
  padding: 1rem;
  cursor: pointer;
}

.Home div:hover {
  background-color: rgba(200, 200, 200, 0.5);
}