.Timing .header {
  padding-bottom: 1rem;
}

.Timing .content {
  display: flex;
  flex-direction: row;
}

.Timing .function {
  padding: 0.5em;
  border-left-style: solid;
}

.Timing .parameter {
  padding: 0.5em;
  border-left-style: solid;
}

.Timing .type {
  padding: 0.5em;
  border-left-style: solid;
}

.Timing .time {
  padding: 0.5em;
  border-left-style: solid
}