.graph {
  
}

.graph .background {
  fill: lightblue;
  opacity: 0.75;
}

.dataPoint circle {
  fill: red;
  stroke-width: 1;
}

.dataPoint text {
  visibility: hidden;
}


.dataPoint:hover text {
  visibility: visible;
}

.failPoint text {
  text-decoration-color: white;
}

.failPoint rect {
  fill: lightcoral;
  opacity: 1;
}